.App {
  position:relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

.topBracket {
  position: relative;
  margin-top: .4rem;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  width: 1127px;
  height: 60px;
}

.navigationDiv {
  height: 210px;
}

.bottomBracket {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:100%;
  width: 1127px;
  height: 60px;
  transform: rotate(180deg);
}

.page {
  position: absolute;
  overflow: auto;
  width: 90%;
  left:5%;
  height: auto;
  max-height: 167%;
  display: block;
  text-align: center;
}

.footersave {
  position: absolute;
  display: block;
  margin: auto;
}

.footer {
  display: block;
  position: fixed;

  width: 100%;
  bottom: 0;
  left: 0;
  height: -100px;
  color: rgb(114, 114, 114);
  font-size: calc(3px + 2vmin);
}
.App-link {
  color: #2d3233;
}
